
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	min-width: 1275px;
}
.main{
	min-width: 970px;
	max-width: 970px;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,a:active, a:hover, a:focus{
	text-decoration: none;
	color:#000;
}
/*기본설정 없애는 것 넣*/

.header{
	background-color: #F1F1F1;
	width:100%;
	height: 50px;
	
}

/*googleplay로고만 작게하려면...?? html에서 그냥 고정시킴*/
body{
	background-color: #F1F1F1; 
}

.header img{
margin: 5px 10px 5px 10px;
float:left;
/*border: 2px solid blue;
*/}

 .search{
	float:left;
	width:50%;
	margin: 10px 30px 0px 30px;

/*border: 2px solid blue;*/
}

input{
	height:30px;
	float:left;
	margin-right: 0;
	width:500px;
}

.search img{
	/*돋보기*/
background-color: #4485F3;
height:30px;
/*border: 2px solid blue;*/
display:inline;
float:left;
margin: 0;
}
 
.rightupper{
	width:10%;
	float:right;
	text-align: center;

/*border: 2px solid blue;*/
}
.rightupper img{
	margin-left: 10px;
}

.login{
	background-color: #4485F3;
	color:white;
	margin: 10px 0 5px 0;
	font-size: 14px;
	padding: 5px 10px 0px 10px;
}

.middle{
	width:100%;
	background-color: #F1F1F1;
height:1000px;
/*border: 2px solid blue;*/
}


.downnav{
	background-color: #FFFFFF;
	width:15%;
	height:200px;
	float:left;
}

.selected{
	background-color: #439ED5;
	height:45px;
	color:white;
	line-height: 45px;
}

.downnav ul li img{
	margin-top: 5px;
}

.downnav ul li{
	height:45px;
	padding-left: 40px;
	line-height: 45px;
}

.linenav{
	background-color: #FFFFFF;
	float:left;
	width:85%;
	height:45px;
	line-height:45px;
}

.linenav ul li{
	display:inline;
	padding-left: 40px;
	}

.linenav .right{
	float:right;
	margin-top: -40px;
	width:100px;
}

.main{
width:81%;
float:left;
padding-left: 45px;
/*height:100px;*/
}

.upper{
float:left;
width:90%;
height:100px;
/*border: 2px solid blue;*/
}

.description{
float:left;
width: 80%;
/*height:100px;*/
padding-top: 15px;
margin-top: 15px;
line-height: 1.7em;
/*border: 2px solid blue;*/
}

h1{
font-weight: bold;
font-size: 28px;
}

h2{
font-size: 16px;
}

.more{
background-color: #1AA1E1;
color:white;
float:right;
padding: 5px 10px 0px 10px;
margin-right: 10px;
margin-top: 50px;
font-size: 16px;

/*border: 2px solid blue;*/
}

.listofbooks{
float:left;
height:260px;
width:100%;
margin-bottom: 40px;
/*border: 2px solid green;*/

}

li.books{
width:170px;
height:260px;
margin: 5px 5px 5px 0px;
/*border: 2px solid red;*/
display:inline-block;
float:left;
background-color: white;
}

.shade:hover{
	background-color: black;
	opacity:0.5;
	webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
	
}

.shade{
width: 170px;
height: 200px;
margin-top: -200px;
float:left;
}

.books img{
width:170px;
height:200px;
float:left;
}

.books .bookname{
width:160px;
margin-left:5px;
overflow: hidden;
margin-top: 15px;
color: #444444;
font-size: 15px;
display: block;
float: left;
white-space: nowrap;
font-family: arial;
}

.books .ap .author a{
display:block;
margin-left: 5px;
float:left;	
color:#ACACAC;
font-size: 12px;
margin-top: 3px;
}

.books .ap .price a{
display:block;	
float:right;
color:#1AA1E1;
font-size: 12px;
margin-top: 3px;
}